


body
{
  
 background-color: #fbfbf8;
  font-family: sans-serif;
 }

.fa {

  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}



input[type=text], select, textarea{

  font-size: 30px;  
  width: 50%;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  resize: vertical;

}

input[type=input], select, textarea{
  width: 50%;
  padding: 6px;
  border: 3pt solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs 


/* Style the submit button */
input[type=submit] {
  background-color: #F7D18B;
  color: black;
  padding: 6px 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  float: center;
}

input[type=reset] {
  background-color: #F7D18B;
  color: black;
  padding: 6px 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  float: center;
}
/* Style the container */
